.form {
  align-items: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

input[type="text"] {
  max-width: 60%;
  width: 600px;
  padding: 7px;
  border-radius: 6px 0px 0px 6px;
  font-size: 25px;
  border-right: none;
  outline: none;
}

button {
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 0px 6px 6px 0px;
  background-color: royalblue;
  color: white;
  border-left: none;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: rgb(185, 45, 45);
}
