* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgba(167, 161, 167, 0.616);
}

.headingTop {
  display: flex;
  justify-content: center;
  align-items: center;
  color: royalblue;
  margin-top: 40px;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 1.3px;
}
